.case {
    --size: 60px;
    width: var(--size);
    height: var(--size);
    border-radius: 5px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;

    cursor: default;
    user-select: none;
}

.active {
    background-color: #80808070;
    color: white;
}

.inactive {
    border: 1px solid #00000080;
    padding: 4px;
}

.not-included {
    background-color: #808080;
}

.unique-correct {
    background-color: green;
}

.multiple-correct {
    background-color: green;
    border: 5px solid purple;
}

.unique-incorrect {
    background-color: orange;
}

.multiple-incorrect {
    background-color: orange;
    border: 5px solid purple;
}
