.case {
    --size: 60px;
    width: var(--size);
    height: var(--size);
    border-radius: 5px;
    border: 1px solid #00000080;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;

    cursor: default;
    user-select: none;
}

.active {}

.inactive {}

.not-included {}

.unique-correct {}

.multiple-correct {}

.unique-incorrect {}

.multiple-incorrect {}
